@font-face {
  font-family: Segoe Script;
  src: url(segoesc.ttf);
}

@font-face {
  font-family: Segoe Print;
  src: url(segoepr.ttf);
}

body {
  margin: 0;
}

header {
  background-color: rgba(244, 244, 244, 0.8);
  padding: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  width: 100%;
  font-family: Segoe Script, Segoe Print, Segoe;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}

.toggle {
  display: flex;
  align-items: center;
  padding: 10px;
}

.semnatura {
  flex-grow: 1;
}

.meniu {
  position: absolute;
  top: 70px;
  left: 0px;
}

.meniu.activ ul {
  display: flex;
}

.meniu ul {
  display: none;
  flex-direction: column;
  background-color: #999;
  font-size: 20px;
  padding: 0px;
  margin: 0;
}

.meniu li {
  width: 200px;
}

.meniu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}

.meniu a:hover {
  background-color: #ccc;
  color: #000;
}

section {
  background-color: rgba(244, 244, 244);
  margin: 0 0 0 0;
  padding-top: 70px;
}

/* cand am pus linc la background-image nu mi-a mai afisat imaginea la fel
cand era cu fisierul de pe calculator imi arata imaginea pe tot ecranu de al stanga la dreapta
iar acum mi-o arata dor in interiorul divului
nu stiu cum sa o fac din nou sa apare pe tot ecranu de la stanga la dreapta */

.imaginea {
  background-image: url("eu3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  background-size: 125%;
  overflow: hidden;
  height: 350px;
}

article {
  min-height: 500px;
  width: 80%;
  padding: 0 10%;
  display: block;
}

article p {
  text-align: justify;
}

main {
  width: 100%;
  font-family: Segoe Print, Segoe;
}

.float {
  float: left;
}

aside {
  width: auto;
}

#blogs {
  width: 100%;
  font-family: Segoe Print, Segoe;
  position: relative;
  padding-top: 50px;
  text-align: center;
}

.bc {
  position: absolute;
  top: 0px;
  left: 30px;
}

#blogs a {
  text-decoration: none;
  display: block;
}

#blogs a:hover {
  background-color: rgba(222, 222, 222);
}

ul {
  list-style-type: none;
  padding: 10px 0;
}

footer {
  background-color: #333;
  width: 100%;
  height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conturi {
  flex: 1 1 0;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 120px;
}

.conturi li {
  flex: 1 1 0;
  display: list-item;
  height: 60px;
}

.conturi a {
  display: block;
  /* cand i-am dat display block padding ul s-a aliniat
  lupa li item  */
  margin: 0px;
  padding: 10px;
  min-width: 40px;
  height: 40px;
  /* cand am dat diapay black a functionat min vidth si min-height */
  text-indent: -10000px;
  /* cand am dat dispay block a mers text-indent*/
  border-radius: 6px;
}

.conturi a:hover {
  background-color: #555;
}

.fb {
  background: url("icon-facebook.png") no-repeat center;
  background-size: 80%;
}

.in {
  background: url("linkedin.png") no-repeat center;
  background-size: 87%;
}

.img {
  width: auto;
  display: inline-block;
  margin: auto;
}

.img ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: auto;
  justify-content: space-around;
}

.img a {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  color: #000;
}

.img img {
  flex-basis: 300px;
  height: 165px;
  display: block;
}

.img a:hover img {
  transform: scale(2);
  box-shadow: 0 0 15px;
  rgba(0, 0, 0, 2);
  transition: transform 0.2s linear;
}

/*
  aicea incepe stylingul pentu ecranu mai mare
---
---
---
---
---
 */

@media screen and (min-width: 768px) {
  header {
    height: 110px;
    width: 100%;
    font-size: 42px;
    text-align: center;
    align-items: center;
  }
  .heder {
    width: 80%;
    padding: 0 10%;
  }
  .meniu {
    position: static;
    display: block;
  }
  .toggle {
    display: none;
  }
  .meniu ul {
    display: flex;
    flex-direction: row;
    background-color: rgba(244, 244, 244, 0);
    font-size: 20px;
    padding: 0px;
    margin: 0;
  }
  .meniu li {
    width: auto;
  }
  .meniu a {
    padding: 5px 10px;
    text-decoration: none;
    color: #888;
  }
  .meniu a:hover {
    background-color: rgba(244, 244, 244, 0);
  }
  section {
    padding-top: 150px;
  }
  .imaginea {
    background-size: 100%;
    background-position: center center;
    overflow: hidden;
    height: 450px;
  }
  article {
    display: flex;
    flex-wrap: wrap;
  }
  main {
    width: 70%;
  }
  aside {
    width: 30%;
  }
  #blogs {
    text-align: left;
  }
  ul {
    padding-left: 40px;
  }
  .img li {
    padding: 5px;
  }
}
